@using Click_Cart.Helpers


<div class="card shadow border-0 my-4 bg-light">
    <div class="card-header bg-primary bg-gradient ">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Order Details</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <div class="table-responsive">
            <table Id="tbl" class="table table-bordered table-striped table-responsive table-secondary text-light rounded">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>User Name</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Order Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.OrderCode</td>
                            <td>@obj.User.UserName</td>
                            <td>@obj.Product.ProductName</td>
                            <td>@obj.Quantity</td>
                            <td>@obj.OrderDate.ToString("dd/MM/yyyy")</td>
                            <td>@obj.Status</td>
                            <td>
                                @{
                                    var encryptedId = EncryptionHelper.Encrypt(@obj.OrderId.ToString());
                                }
                                <div class="w-100 d-flex align-items-center justify-content-center">
                                    <div>
                                        <a asp-area="Admin" asp-controller="OrderDetails" asp-action="EditOrder" asp-route-tp="@encryptedId" class="btn btn-primary rounded">Update Status</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.1/js/dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tbl').DataTable({
                "paging": true,
                "searching": true,
                "info": true,
                "ordering": true,  //ordering enabled
                "order": [] // Prevent automatic sorting on any column
            });
        });
    </script>
}
