<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <form asp-area="Customer" asp-controller="UserHome" asp-action="Index" method="post">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded fixed-card">
                            <img src="@product.ProductImg" class="card-img-top rounded fixed-image" />

                            <div class="card-body pb-0">
                                <div class="pl-1">
                                    <p class="card-title h5 text-black opacity-75 text-uppercase text-center">@product.ProductName</p>
                                    <p class="card-title text-dark text-center">@product.Description</p>
                                    <p class="card-title text-warning text-center">
                                        <b>Rs.</b> <b>@product.Price</b><b>.00</b>
                                    </p>
                                </div>
                            </div>

                            <input type="hidden" name="productId" value="@product.ProductId" />
                            <input type="hidden" name="quantity" value="1" />

                            <div>
                                <button type="submit" class="btn btn-primary bg-gradient border-0 form-control">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
